<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://duw6wk4ou1qt.cloudfront.net/assets/6130919d/css/bootstrap.min.css" rel="stylesheet">
        <script src="lib/angular.min.js"></script>
        <script src="lib/fabric.js"></script>
        <script src="lib/resemble.js"></script>
        <script src="controllers/imagePoc.js"></script>
        <style>
            div#container {
                padding: 30px;
                font-family: 'verdana', lucida;
            }
            /*        input {
                        background-color: #ccc;
                        padding: 10px 20px;
                        width: 50px;
                        color: #777;
                    }*/
            a{
                color: #777;
                display: block;
                background-color: #ccc; 
                width: 360px;
                padding: 10px 20px;
                margin-top: 2px;
                text-decoration:none;
            }
            .red{
                color: red; 
            }
            .green{
                color: green; 
            }
            .yellow{
                color: #F8B830; 
            }
        </style>
    </head>
    <body ng-app="app">
        <div ng-controller="ImagePocController">
            <div id="container" ng-init="loadAllCanvas()" >
                <div class="row">
                    <div class="col-md-3">
                        <form>
                            <h3> Choose Size </h3> 
                            <input type="radio" ng-model="cupSize" ng-click="setCupType(cupSize)" value="{{cup11oz}}">11oz
                            <input type="radio" ng-model="cupSize" ng-click="setCupType(cupSize)" value="{{cup15oz}}">15oz
                        </form>
                        <form>
                            <h3> Choose Color</h3> 
                            <input type="radio" ng-model="cupColor" value="white">White
                            <input type="radio" ng-model="cupColor" value="black">Black
                        </form>
                        <br/>
                        <div ng-if="dpi">
                            Print Quality :<span ng-class="{'red': printQuality == POOR , 'green': printQuality == GOOD,'yellow': printQuality == AVERAGE} ">{{printQuality}} {{dpi| number : 0}} DPI</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <input type="file" style="width: 550px;" id="imageLoader" name="imageLoader" />
                            <canvas id="imageCanvas" width="550" height="290"></canvas> 
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a id="imageSaver" href="#">Process image</a>

                            </div>
                            <div class="col-md-3">
                                <a id="imageRemove1" href="#">Remove Image</a>
                            </div>
                            <div class="col-md-3">
                                <a id="downloadimage" href="#">Download Image</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <canvas id="canvasAll" width="1500" height="500"></canvas> 
                </div>
            </div>
        </div>
    </body>
</html>
